<header>

    <nav>
    
        {{ if not .IsHome }}
        <a href="/" class="brand" title="Go home">amitsharma.tech</a>
        {{ end }}
        
        <a href="/about/" title="Who am I">About</a>
        <a href="/posts/" title="The blog">Writing</a>
        <!-- <a href="/products/">Products</a> -->
        <a href="/product-market-fit-primer/" class="highlight" title="A book I wrote">The PMF Primer</a>
        <a href="https://cal.id/amitsharma-product/office-hours" title="Talk to me">Office Hours</a>
        <a href="https://www.productproblemsolver.com/fractionalproducthead" title="See how I work">Work With Me</a>
    </nav>
    

</header>